@{
    ViewBag.Title = "Hjem - KaffeplanetenAdmin";
}
@Html.Action("HeaderAndMenuBar", "Layout")

<div class="container-fluid">
    <div class="panel-primary">
            <div class="panel-default col-md-offset-3 col-md-6">
                <div class="panel-heading">
                    <h2>Inlogget: <a id="nameAdmin">@(Session["firstname"] + " " + Session["lastname"])</a></h2>
                    <h2>Bruker: <a id="nameAdmin">@(Session["username"])</a></h2>
                </div>
            </div>
        <div class="container panel-body col-md-offset-3 col-md-6">
            <div style="text-align: center;">
                <h2><strong>Velkommen til administrasjonssiden for Kaffeplaneten</strong></h2>
                <h3>Ut ifra dine rettigheter som ansatt, får du vist det du har behov for.</h3>
                <h3>Skulle du mangle rettigheter, ta kontakt med administrasjonen.</h3>
                <h3><u>Dine rettigheter er: </u></h3>
            </div>
            @{

                bool employeeAdmin = (bool)Session["employeeAdmin"];
                bool customerAdmin = (bool)Session["customerAdmin"];
                bool orderAdmin = (bool)Session["orderAdmin"];
                bool productAdmin = (bool)Session["productAdmin"];
                bool DatabaseAdmin = (bool)Session["databaseAdmin"];

                if (employeeAdmin)
                {
                    <ul style="list-style-type:disc">
                        <li><h3>Rettighet til å endre ansattoplysninger</h3></li>
                    </ul>
                }
                if (customerAdmin)
                {
                    <ul style="list-style-type:disc">
                        <li><h3> Rettighet til å endre kundeoplysninger</h3></li>
                    </ul>
                }
                if (orderAdmin)
                {
                    <ul style="list-style-type:disc">
                        <li><h3>Rettighet til å endre ordreoplysninger</h3></li>
                    </ul>
                }
                if (productAdmin)
                {
                    <ul style="list-style-type:disc">
                        <li><h3>Rettighet til å endre produkter, slette, oppdatere og legge til nye</h3></li>
                    </ul>
                }
                if (DatabaseAdmin)
                {
                    <ul style="list-style-type:disc">
                        <li><h3>Rettighet til å lese databaselogg og se over alle endringer som har skjedd av de ulike brukerne</h3></li>
                    </ul>
                }

             }

</div>

       </div>
     </div>
