
@{
    ViewBag.Title = "Current Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Hi, this is OrderView. All order information will go here.</h2>

<!DOCTYPE html>
<html>
<head>
    <title>List Current Order</title>
</head>
<body>
    <div class="modal-content">
        <table class="table-striped"> 
            @*
                To do:

                - Lage penere oppsett
                - Hente ting som ligger i shopping cart.
                - For each som legger dette inn pent og pyntelig
                - Why the fuck fungerer ikke <hr>? Bootstrap alternativ?
                - List istedenfor Table?
            *@

            <tbody>
                <tr class="list-group-item">
                    <th>
                        <p>Test Produkt 1</p>
                    </th>
                    <th>
                        <p>&emsp;x 5</p>
                    </th>
                </tr>
                
                <tr class="list-group-item">
                    <th>
                        <p>Test Produkt 2</p>
                    </th>
                    <th>
                        <p>&emsp;x 3</p>
                    </th>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
