
@{
    ViewBag.Title = "Current Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Hi, this is OrderView. All order information will go here.</h2>

<!DOCTYPE html>
<html>
<head>
    <title>List Current Order</title>
</head>
<body>
    
</body>
</html>
