@model List<Kaffeplaneten.Models.OrderModel>
@{
    ViewBag.Title = "orderHistoryView";
}

@Html.Action("HeaderAndMenuBar", "Layout")


<h2>Order History</h2>

<div class="container">
    @foreach (var o in Model)
    {
        @Html.Partial("OrderView", o)
    }
    @Html.ActionLink("Hjem", "AllProducts", "Product", new { area = "" }, new { @class = "btn btn-success" })
</div>