-@model Kaffeplaneten.Models.OrderModel

@{
    ViewBag.Title = "receiptView";
}
@Html.Action("HeaderAndMenuBar", "Layout")
@Html.ValidationSummary(true)

<div class="col-md-4 col-md-offset-4 well well-lg">
    <h2>Kvittering</h2>
    @Html.Partial("OrderView")

    @Html.ActionLink("Hjem", "AllProducts", "Product", new { area = "" }, new { @class = "btn btn-success" })
</div>