@model List<Kaffeplaneten.DBProduct>
@{
    ViewBag.Title = "ShoppingCartView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ShoppingCartView</h2>

<fieldset>
    <legend>Shopping Cart:</legend>

    <div>
        @Html.LabelFor(model => model.)
    </div>
</fieldset>