
@{
    ViewBag.Title = "ShoppingCartView";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <form action ="ShoppingCart/" data-­‐ajax="true" data-­‐ajax-­‐mode="replace" data-­‐ajax-­‐update="#Resultat" method="post">
        currentCart.TESTAddProducts();
        }
        <html>
        <body>
            <h2>Shopping Cart:</h2>
            <div class="container">
                <table id="cart" class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <th style="width:50%">Produkt</th>
                            <th style="width:10%">Pris pr. Enhet</th>
                            <th style="width:8%">Antall</th>
                            <th style="width:22%" class="text-center">Pris</th>
                            <th style="width:10%"></th>
                        </tr>
                    </thead>
                    <tbody>
                       
                    </tbody>
                    <tfoot>
                        <tr class="visible-xs">
                            <td class="text-center"><strong>@currentCart.calculateTotal()</strong></td>
                        </tr>
                        <tr>
                            <td><a href="#" class="btn btn-warning"><i class="fa fa-angle-left"></i>Continue Shopping</a></td>
                            <td colspan="2" class="hidden-xs"></td>
                            <td class="hidden-xs text-center"><strong>Total: @currentCart.calculateTotal()</strong></td>
                            <td><a href="#" class="btn btn-success btn-block">Checkout <i class="fa fa-angle-right"></i></a></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </body>
    </html>
