
@{
    ViewBag.Title = "ShoppingCartView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ShoppingCartView</h2>

<div id="info"></div>

<script type="text/javascript">
    window.onload = function hentProdukter()
    {
        $.getJSON("/ShoppingCart/getShoppingCartItems", function (data) {
            $('#productCanvas').empty();
            alert("DONE SOMETHING");
            for (var i in data)
            {
                for (var y in i) {
                var template = $('#productTemplate').html();
                var html = Mustache.to_html(template, i[y])
                $('#info').append(html);
                }
            }
          });
    }
</script>

<script id="productTemplate" type="text/template">
    <div id="template" class="col-sm-6 col-md-6">
        <div id="utRes" class="thumbnail">
            <img id="image" img src="../../Content/img/{{imageURL}}" alt="ProductImage" data-toggle="modal" data-target="#myModal" style="width:150px;height:150px">
            <div class="caption">
                <h3 id="pName">{{productName}}</h3>
                <h2>{{price}},-</h2>
                <p id="pDes">{{description}}</p>
            </div>
        </div>
    </div>
</script>