@model List<Kaffeplaneten.Models.ProductModel>

@{
    ViewBag.Title = "Produkter";

}
@Html.Action("HeaderAndMenuBar", "Layout")

<div id="categoryCanvas">@Html.Action("ProductCategories", "Product")</div>
<div id="productCanvas">Ingen produkter å vise! Finnes det produkter i databasen??</div>



<script type="text/javascript">
    $(window).load(function () {
        var all = "INITIAL";
        $.ajax({
            url: "/Product/ProductsInCategory", data: {
                category: all
            }, success: function (retur) {
                $("#productCanvas").empty();
                $("#productCanvas").html(retur);
            }
        });
    });        
</script>

