@model Kaffeplaneten.Models.UserModel

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header" style="background-color: #5d3d1f">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" style="background-color: #5d3d1f">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar" class="collapse navbar-collapse" style="background-color: #5d3d1f">
            <div class="btn-group col-md-offset-1 col-md-12" role="group" aria-label="Kategori">
                <ul class="nav navbar-nav">
                    <li style="background-color: #5d3d1f" id="Lettbrent" onclick="getProductsInCat(this.id)"><span class="navbaricons glyphicon glyphicon-grain"></span><a class="navbar-brand">Lettbrent</a></li>
                    <li style="background-color: #5d3d1f"id="Mediumbrent"  onclick="getProductsInCat(this.id)"><span class="navbaricons glyphicon glyphicon-grain"></span><a class="navbar-brand">Mediumbrent</a></li>
                    <li style="background-color: #5d3d1f" id="Mørk" onclick="getProductsInCat(this.id)"><span class="navbaricons glyphicon glyphicon-grain"></span><a class="navbar-brand">Mørk</a></li>
                    <li style="background-color: #5d3d1f" id="Koffeinfri" onclick="getProductsInCat(this.id)"><span class="navbaricons glyphicon glyphicon-grain"></span><a class="navbar-brand">Koffeinfri</a></li>
                    <li style="background-color: #5d3d1f"id="Aromafisert" onclick="getProductsInCat(this.id)"><span class="navbaricons glyphicon glyphicon-grain"></span><a class="navbar-brand">Aromafisert</a></li>
                </ul>
            </div>
        </div>
</div>
    </nav>
