@model Kaffeplaneten.Models.UserModel

<div id="categoryBtns" class="btn-group" role="group" aria-label="Kategori">
    <button type="button" id="Lettbrent" class="btn btn-default" onclick="getProductsInCat(this.id)">Lettbrent</button>
    <button type="button" id="Mediumbrent" class="btn btn-default" onclick="getProductsInCat(this.id)">Mediumbrent</button>
    <button type="button" id="Mørk" class="btn btn-default" onclick="getProductsInCat(this.id)">Mørk</button>
    <button type="button" id="Koffeinfri" class="btn btn-default" onclick="getProductsInCat(this.id)">Koffeinfri</button>
    <button type="button" id="Aromafisert" class="btn btn-default" onclick="getProductsInCat(this.id)">Aromafisert</button>
</div>
