body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.thumbnail img{
    width: 150px;
    height: 150px;
}

.thumbnail{
    width: 305px;
    height: 400px;
    margin-bottom: 30px;
}

.thumbnail h3{
height: 6%;
}
