@using Microsoft.Web.Helpers;
@{
    ViewBag.Title = "Uploader";
}

@Html.Action("HeaderAndMenuBar", "Layout")
@{
    var fileName = "";
    if (IsPost)
    {
        var fileSavePath = "";
        var storePath = "";
        var uploadedFile = Request.Files[0];
        fileName = Path.GetFileName(uploadedFile.FileName);
        fileSavePath = (AppDomain.CurrentDomain.BaseDirectory + "\\Content\\img\\" +
          fileName);
        storePath = (AppDomain.CurrentDomain.BaseDirectory + "\\..\\Kaffeplaneten\\Content\\img\\" +
  fileName);
        uploadedFile.SaveAs(fileSavePath);
        uploadedFile.SaveAs(storePath);
    }
}

<div class="content">
    <h1>Filopplaster: </h1>

    @FileUpload.GetHtml(
        initialNumberOfFiles: 1,
        allowMoreFilesToBeAdded: false,
        includeFormTag: true,
        uploadText: "Last opp")
    @if (IsPost)
    {
        <span>Fil ble lastet opp!</span><br />
    }

    @Html.ActionLink("Tilbake", "AllProducts")
</div>