@model Kaffeplaneten.Models.CustomerModel

@{
    ViewBag.Title = "accountView";
}
@Html.Action("HeaderAndMenuBar", "Layout")
<h2>AccountView</h2>

<fieldset>
    <legend>Brukerdetaljer</legend>

    @Html.Partial("customerView", Model)

    @Html.ActionLink("Endre", "editAccountView", "User", new { area = "" }, new { @class = "btn btn-success" })
    @Html.ActionLink("Se ordrehistorie", "orderHistoryView", "Order", new { area = "" }, new { @class = "btn btn-success" })

</fieldset>