@model Kaffeplaneten.Models.Customer
@{
    ViewBag.Title = "Loginview";
}

<fieldset>
    <legend>Brukerregistrering</legend>


    
    <div>
        @Html.LabelFor(model => model.email)
        @Html.EditorFor(model => model.email)
        @Html.ValidationMessageFor(model => model.email)
    </div>
    <div>

    </div>
</fieldset>
